<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anton111111.xposed.multiusers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Xposed module for add ability to add several users (at this moment there is only 2 user... in the future more ;) to Lenovo Devices where it locked" />
        <meta-data
            android:name="xposedminversion"
            android:value="79" />

    </application>

</manifest>
